# Xcode / macOS
.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace
xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Secrets (혹시 별도 파일로 뺄 경우)
Secrets.xcconfig
